@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Rest */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  /* padding: 4rem 10rem; */
  min-height: 100svh;
  width: 90rem;
  max-width: 1440px;
}

img,
picture,
svg,
video {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 75ch not higher than that */
p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* Project Styling */

/* Seconde Section Styling */

.col1 {
  background: url("/images/home/desktop/image-web-design-large.jpg") no-repeat;
  background-size: cover;
}
.overlay:hover {
  background: #e7816b;
  opacity: 0.9;
}
.col2 {
  background: url("/images/home/desktop/image-app-design.jpg") no-repeat;
  background-size: cover;
}
.col3 {
  background: url("/images/home/desktop/image-graphic-design.jpg") no-repeat;
  background-size: cover;
}

/* Rest Style */

section {
  margin: 0 10.31rem;
}

/* Footer */
.footer__first__row {
  position: relative;
}

.footer__first__row::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  opacity: 0.1477;
  margin-bottom: -2.5rem;
}

/* Third Section Styling */

/* Media Queries */

/* Mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .col1 {
    background: url("/images/home/mobile/image-web-design.jpg") no-repeat;
  }
  .col2 {
    background: url("/images/home/mobile/image-app-design.jpg") no-repeat;
  }
  .col3 {
    background: url("/images/home/mobile/image-graphic-design.jpg") no-repeat;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    padding: 4rem 2.44rem;
  }

  .col1 {
    background: url("/images/home/tablet/image-web-design.jpg") no-repeat;
  }
  .col2 {
    background: url("/images/home/tablet/image-app-design.jpg") no-repeat;
  }
  .col3 {
    background: url("/images/home/tablet/image-graphic-design.jpg") no-repeat;
  }
  .hero__section {
    flex-direction: column;
    width: 43.0625rem;
    height: 52.6875rem;
  }
}

/* Contact */

input {
  position: relative;
}

input::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #ccc;
  width: 23.75rem;
  height: 0.0625rem;
}
