---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Designo multi-page website">
  <Header />
  <main>
    <section class="realtive">
      <div class="z-[-100px] absolute left-0 top-[30rem]">
        <img src="/images/shared/desktop/bg-pattern-leaf.svg" alt="" />
      </div>
      <div
        class="hero__section w-[69.4375rem] h-[40rem] py-36 pl-20 bg-[#E7816B] rounded-[0.9375rem] z-[200px] absolute flex"
      >
        <div>
          <h1
            class="text-5xl leading-[3rem] font-medium text-[#fff] w-[33.75rem]"
          >
            Award-winning custom designs and digital branding solutions
          </h1>
          <p
            class="text-base leading-[1.625rem] font-normal text-[#fff] mt-[1.5rem] mb-10 w-[27.8125rem]"
          >
            With over 10 years in the industry, we are experienced in creating
            fully responsive websites, app design, and engaging brand
            experiences. Find out more about our services.
          </p>
          <button
            type="button"
            class="rounded-lg uppercase h-14 w-36 bg-[#fff] text-[0.9375rem] font-medium tracking-[0.0625rem] text-[#333136]"
            >Learn More</button
          >
        </div>
        <div class="reative">
          <img
            src="/images/home/desktop/bg-pattern-hero-home.svg"
            class="absolute top-0 right-[10px]"
            alt=""
          />
          <img
            src="/images/home/desktop/image-hero-phone.png"
            class="absolute top-[-30px] right-[-60px]"
            alt=""
          />
        </div>
      </div>
    </section>
    <section class="flex gap-6 relative top-[50rem]">
      <div
        class="col1 w-[33.8125rem] h-[40rem] rounded-[0.9375rem] flex justify-center items-center flex-col gap-6 cursor-pointer"
      >
        <div
          class="overlay w-[33.8125rem] h-[40rem] rounded-[0.9375rem] flex justify-center items-center flex-col gap-6"
        >
          <h2
            class="text-[2.5rem]
          font-medium
          leading-[3rem]
          tracking-[0.125rem]
          uppercase
          text-[#fff]"
          >
            Web Design
          </h2>
          <div class="flex gap-5 items-center">
            <a
              href="/web-project"
              class="text-[0.9375rem] font-medium leading-normal tracking-[0.3125rem] uppercase text-[#fff]"
              >View Projects</a
            >
            <div>
              <img
                src="/images/shared/desktop/icon-right-arrow.svg"
                alt="arrow-icon"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-6">
        <div
          class="col2 w-[33.8125rem] h-[19.25rem] rounded-[0.9375rem] flex justify-center items-center flex-col gap-6 cursor-pointer"
        >
          <div
            class="overlay w-[33.8125rem] h-[19.25rem] rounded-[0.9375rem] flex justify-center items-center flex-col gap-6"
          >
            <h2
              class="text-[2.5rem] font-medium leading-[3rem] tracking-[0.125rem] uppercase text-[#fff]"
            >
              App Design
            </h2>
            <div class="flex gap-5 items-center">
              <a
                href="/web-project"
                class="text-[0.9375rem] font-medium leading-normal tracking-[0.3125rem] uppercase text-[#fff]"
                >View Projects</a
              >
              <div>
                <img
                  src="/images/shared/desktop/icon-right-arrow.svg"
                  alt="arrow-icon"
                />
              </div>
            </div>
          </div>
        </div>

        <div
          class="col3 w-[33.8125rem] h-[19.25rem] rounded-[0.9375rem] flex justify-center items-center flex-col gap-6 cursor-pointer"
        >
          <div
            class="overlay w-[33.8125rem] h-[19.25rem] rounded-[0.9375rem] flex justify-center items-center flex-col gap-6"
          >
            <h2
              class="text-[2.5rem] font-medium leading-[3rem] tracking-[0.125rem] uppercase text-[#fff]"
            >
              Graphic Design
            </h2>
            <div class="flex gap-5 items-center">
              <a
                href="/web-project"
                class="text-[0.9375rem] font-medium leading-normal tracking-[0.3125rem] uppercase text-[#fff]"
                >View Projects</a
              >
              <div>
                <img
                  src="/images/shared/desktop/icon-right-arrow.svg"
                  alt="arrow-icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="flex gap-6 relative top-[50rem]">
      <div class="absolute right-[-10rem] top-[15rem] z-[-100px]">
        <img src="/images/shared/desktop/Rectangle Copy 4.svg" alt="" />
      </div>
      <div
        class="mt-32 flex gap-7 justify-center items-center text-center z-10"
      >
        <div class="flex flex-col gap-3 justify-center items-center">
          <div>
            <img
              class="z-[-100px]"
              src="/images/shared/desktop/bg-pattern-small-circle.svg"
              alt=""
            />
            <img
              class="z-10 absolute top-[8rem]"
              src="/images/home/desktop/illustration-passionate.svg"
              alt=""
            />
          </div>
          <h2
            class="text-xl leading-[1.625rem] tracking-[0.3125rem] font-medium text-[#333136] uppercase"
          >
            Passionate
          </h2>
          <p
            class="w-[21.875rem] text-base leading-[1.625rem] font-normal text-[#333136]"
          >
            Each project starts with an in-depth brand research to ensure we
            only create products that serve a purpose. We merge art, design, and
            technology into exciting new solutions.
          </p>
        </div>
        <div class="flex flex-col gap-3 justify-center items-center">
          <div>
            <img
              class="z-[-100px]"
              src="/images/shared/desktop/bg-pattern-small-circle.svg"
              alt=""
            />

            <img
              class="z-10 absolute top-[8rem]"
              src="/images/home/desktop/illustration-resourceful.svg"
              alt=""
            />
          </div>
          <h2
            class="text-xl leading-[1.625rem] tracking-[0.3125rem] font-medium text-[#333136] uppercase"
          >
            Resourceful
          </h2>
          <p
            class="w-[21.875rem] text-base leading-[1.625rem] font-normal text-[#333136]"
          >
            Everything that we do has a strategic purpose. We use an agile
            approach in all of our projects and value customer collaboration. It
            guarantees superior results that fulfill our clients’ needs.
          </p>
        </div>
        <div class="flex flex-col gap-3 justify-center items-center">
          <div>
            <img
              class="z-[-100px]"
              src="/images/shared/desktop/bg-pattern-small-circle.svg"
              alt=""
            />

            <img
              class="z-10 absolute top-[8rem]"
              src="/images/home/desktop/illustration-friendly.svg"
              alt=""
            />
          </div>
          <h2
            class="text-xl leading-[1.625rem] tracking-[0.3125rem] font-medium text-[#333136] uppercase"
          >
            Friendly
          </h2>
          <p
            class="w-[21.875rem] text-base leading-[1.625rem] font-normal text-[#333136]"
          >
            We are a group of enthusiastic folks who know how to put people
            first. Our success depends on our customers, and we strive to give
            them the best experience a company can provide.
          </p>
        </div>
      </div>
    </section>
    <section
      class="flex justify-between items-center w-[69.4375rem] h-[18.25rem] bg-[#E7816B] rounded-[0.9375rem] absolute z-10 top-[140rem] px-24 pt-[4.5rem] pb-12"
    >
      <div class="">
        <img
          src="/public/images/shared/desktop/bg-pattern-call-to-action.svg"
          alt=""
        />
      </div>

      <div class="text-[#fff]">
        <h2
          class="w-[16.75rem] h-[6.125rem] text-[2.5rem] font-medium leading-[2.5rem]"
        >
          Let’s talk about your project
        </h2>
        <p class="w-[28.6875rem] text-base leading-[1.625rem] font-normal">
          Ready to take it to the next level? Contact us today and find out how
          our expertise can help your business grow.
        </p>
      </div>

      <div>
        <button
          type="button"
          class="bg-[#fff] w-[9.5rem] h-[3.5rem] rounded-lg text-[0.9375rem] font-medium leading-normal tracking-[0.0625rem] uppercase text-[#333136]"
        >
          Get in touch
        </button>
      </div>
    </section>
  </main>
</Layout>
