---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Footer from "@/components/Footer.astro";
---

<Layout title="Designo multi-page website">
  <Header />
  <main>
    <!-- First Section / Web Design Details  -->
    <section class="section1">
      <h1 class="">Web design</h1>
      <p class="">
        We build websites that serve as powerful marketing tools and bring
        memorable brand experiences.
      </p>
    </section>
    <!-- End OfFirst Section / Web Design Details  -->
    <!-- Second Section / Web Design Services  -->
    <section class="section2">
      <!-- Express Project -->
      <div class="">
        <!-- Project Image -->
        <div class="">
          <img
            src="/public/images/web-design/desktop/image-express.jpg"
            alt=""
          />
        </div>
        <!-- Project Details -->
        <div class="">
          <h2 class="">Express</h2>
          <p class="">
            A multi-carrier shipping website for ecommerce businesses
          </p>
        </div>
      </div>
      <!-- Transfer Project -->
      <div class="">
        <!-- Project Image -->
        <div class="">
          <img src="/images/web-design/desktop/image-transfer.jpg" alt="" />
        </div>
        <!-- Project Details -->
        <div class="">
          <h2 class="">Transfer</h2>
          <p class="">
            Site for low-cost money transfers and sending money within seconds
          </p>
        </div>
      </div>
      <!-- Photon Project -->
      <div class="">
        <!-- Project Image -->
        <div class="">
          <img src="/images/web-design/desktop/image-photon.jpg" alt="" />
        </div>
        <!-- Project Details -->
        <div class="">
          <h2 class="">Photon</h2>
          <p class="">
            A state-of-the-art music player with high-resolution audio and DSP
            effects
          </p>
        </div>
      </div>
      <!-- Builder Project -->
      <div class="">
        <!-- Project Image -->
        <div class="">
          <img src="/images/web-design/desktop/image-builder.jpg" alt="" />
        </div>
        <!-- Project Details -->
        <div class="">
          <h2 class="">Builder</h2>
          <p class="">
            Connects users with local contractors based on their location
          </p>
        </div>
      </div>
      <!-- Blogr Project -->
      <div class="">
        <!-- Project Image -->
        <div class="">
          <img src="/images/web-design/desktop/image-blogr.jpg.jpg" alt="" />
        </div>
        <!-- Project Details -->
        <div class="">
          <h2 class="">Blogr</h2>
          <p class="">
            Blogr is a platform for creating an online blog or publication
          </p>
        </div>
      </div>
      <!-- Camp Project -->
      <div class="">
        <!-- Project Image -->
        <div class="">
          <img src="/images/web-design/desktop/image-camp.jpg.jpg" alt="" />
        </div>
        <!-- Project Details -->
        <div class="">
          <h2 class="">Camp</h2>
          <p class="">
            Get expert training in coding, data, design, and digital marketing
          </p>
        </div>
      </div>
    </section>
    <!-- End Of Second Section / Web Design Services  -->
    <!-- Other Servieces Section -->
    <section class="">
      <!-- App Design Service -->
      <div class="">
        <!-- Text -->
        <h2 class="">App Design</h2>
        <!-- Link & Arrow -->
        <div class="">
          <a href="" class=""> View Projects</a>
          <img
            src="/images/shared/desktop/icon-right-arrow.svg"
            alt=""
            class=""
          />
        </div>
      </div>
      <div class="">
        <!-- Text -->
        <h2 class="">App Design</h2>
        <!-- Link & Arrow -->
        <div class="">
          <a href="" class=""> Graphic Design</a>
          <img
            src="/images/shared/desktop/icon-right-arrow.svg"
            alt=""
            class=""
          />
        </div>
      </div>
    </section>
    <!-- End Of Other Servieces Section -->
    <!-- About Your Project Section -->
    <section class="">
      <!-- Text -->
      <div class="">
        <h2 class="">Let&acute;s talk about your project</h2>
        <p class="">
          Ready to take it to the next level? Contact us today and find out how
          our expertise can help your business grow.
        </p>
      </div>
      <!-- Input -->
      <div class="">
        <button class="" type="button">Get in touch</button>
      </div>
    </section>
    <!-- End Of About Your Project Section -->
  </main>
  <Footer />
</Layout>
