---
import "@/styles/globals.css";
---

<header class="flex justify-between mb-[4.19rem] mx-[10.31rem] mt-20">
  <div class="h-6 w-48">
    <a href="/">
      <img src="/images/shared/desktop/logo-dark.png" alt="" />
    </a>
  </div>
  <ul class="flex gap-20">
    <li>
      <a
        href="/about"
        class="text-sm leading-[0.875rem] tracking-[0.125rem] font-normal text-[#333136] uppercase hover:underline cursor-pointer"
        >Our Company</a
      >
    </li>
    <li>
      <a
        href="/locations"
        class="text-sm leading-[0.875rem] tracking-[0.125rem] font-normal text-[#333136] uppercase hover:underline cursor-pointer"
        >Locations</a
      >
    </li>
    <li>
      <a
        href="/contact"
        class="text-sm leading-[0.875rem] tracking-[0.125rem] font-normal text-[#333136] uppercase hover:underline cursor-pointer"
        >Contact</a
      >
    </li>
  </ul>
</header>
